#order-list-wrap {
  /* background-color: rgb(117, 117, 117); */
  text-align: center;
  /* width: 100vw; */
  margin-top: 1rem;
}

#orders-box {
  padding: 1rem;
  /* margin: 0.5rem; */
  /* background-color: antiquewhite; */
}

.order-row,
.order-head {
  display: flex;
  background-color: white;
  margin: 2px 0;
  padding: 0.2rem 0.5rem;
}

.order-row span,
.order-head span {
  flex: 0.2;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  padding: 0.2px;
  border: 1px solid black;

  min-width: 100px;
  min-height: 24px;
}

.order-head {
  margin: 0 1rem;
  margin-top: 5px;
}
