@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

/* font-family: 'Orbitron', sans-serif; */

/* main section  */
main {
  display: flex;
  flex-direction: column;
}
/* 
section {
  display: flex;
  flex-direction: column;
  width: 60vw;
  min-width: 255px;
  margin: 0 auto;
} */

/* section > h1 {
  font-family: "Orbitron", sans-serif;
  text-align: center;
  margin: 5px;
  margin-top: 0.5rem;
  padding: 1rem;
  font-size: 2rem;
} */

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
  /* background-color: burlywood; */
}

/* item style */
.item {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 0.5rem 0;

  /* background-color: crimson; */

  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 1);
}

.img-wrap {
  margin: 1rem;
  height: 250px;
  width: 250px;
  overflow: hidden;
}
.img-wrap img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.img-wrap img:hover {
  transform: scale(1.5);
}

.product-details {
  margin-bottom: 0.5rem;
  /* background-color: aqua; */

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-details span {
  margin-left: 1rem;
  font-size: larger;
  padding: 2px;
}
.product-details button {
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
  background-color: aqua;
}

.product-details button:hover {
  background-color: brown;
  color: aquamarine;
}

/* show cart btn wrap */
.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.btn-wrap button {
  border: none;
  padding: 1rem;

  background-color: black;
  color: aliceblue;
  cursor: pointer;
}
